<section class="advantages @@if(this.class){@@class}">
    <div class="advantages__container container">
        <h2 class="advantages__title title">Цифры говорят за нас</h2>
        <div class="advantages__items">
            <div class="advantages__item">
                <p class="advantages__item-value title">
                    <span>15</span>>
                    </p>
                <p class="advantages__item-text">
                        лет <br>
                        работы <br>
                        с ресторанами
                    </p>
            </div>
            <div class="advantages__item">
                <p class="advantages__item-value title">
                    <span>60</span>+
                    </p>
                <p class="advantages__item-text">
                        ресторанов <br>
                        в активе
                    </p>
            </div>
            <div class="advantages__item">
                <p class="advantages__item-value title">
                    <span>17</span>
                </p>
                <p class="advantages__item-text">
                        концепций <br>
                        запущено <br>
                        с "нуля"
                    </p>
            </div>
            <div class="advantages__item">
                <p class="advantages__item-value title">
                    <span>800</span>
                </p>
                <p class="advantages__item-text">
                        продакшн <br>
                        фото- <br>
                        и видео-съемок
                    </p>
            </div>
            <div class="advantages__item">
                <p class="advantages__item-value title">
                    <span>50</span>+
                    </p>
                <p class="advantages__item-text">
                        уникальных <br>
                        сайтов <br>
                        разработано
                    </p>
            </div>
            <div class="advantages__item">
                <p class="advantages__item-value title">
                    <span>60</span>+
                    </p>
                <p class="advantages__item-text">
                        ресторанов <br>
                        в активе
                    </p>
            </div>
        </div>
    </div>
</section>