<section class="callback @@if(this.class){@@class}">
    <div class="callback__container container">
        <div class="callback__block">
            <h2 class="callback__title title">БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ</h2>
            <form class="callback__form">
                <label class="callback__label">
                    <h4 class="callback__label-title title">Ваше имя</h4>
                    <input type="text" placeholder="Иван" class="callback__input custom-input">
                </label>
                <label class="callback__label">
                    <h4 class="callback__label-title title">Ваш номер</h4>
                    <input type="tel" class="callback__input custom-input">
                </label>
                <label class="callback__label">
                    <h4 class="callback__label-title title">Ваша почта</h4>
                    <input type="email" placeholder="example@example.com" class="callback__input custom-input">
                </label>
                <button type="submit" class="callback__btn btn btn_rose">Отправить заявку</button>
            </form>
        </div>
    </div>
    <div class="callback__bg">
        <img loading="lazy" src="./img/callback-bg.webp" alt="">
    </div>
</section>