<section class="directions @@if(this.class){@@class}">
    <div class="directions__container container">
        <h2 class="directions__title title">Наши направления</h2>
        <div class="directions__blocks">
            <div class="directions__images">
                <img loading="lazy" src="./img/directions/1.webp" alt="" class="directions__image active">
                <img loading="lazy" src="./img/directions/2.webp" alt="" class="directions__image">
                <img loading="lazy" src="./img/directions/3.webp" alt="" class="directions__image">
            </div>
            <div class="directions__accordeons accordeons">
                <div class="directions__accordeon accordeons__item active">
                    <div class="directions__accordeon-head accordeons__item-head">
                        <h4 class="directions__accordeon-title title">Развитие и продвижение</h4>
                        <div class="directions__accordeon-icon">
                            <span></span>
                        </div>
                    </div>
                    <div class="directions__accordeon-content accordeons__item-content">
                        <div class="directions__items">
                            <p class="directions__item">
                                    Составление маркетинговой стратегии
                                </p>
                            <p class="directions__item">
                                    Аналитика / проведение аудита
                                </p>
                            <p class="directions__item">
                                    Составление медиаплана
                                </p>
                            <p class="directions__item">
                                    Организация PR-кампаний
                                </p>
                            <p class="directions__item">
                                    SMM продвижение
                                </p>
                            <p class="directions__item">
                                    Настройка таргетированной рекламы
                                </p>
                            <p class="directions__item">
                                    Настройка рекламы в Яндекс.Директ
                                </p>
                            <p class="directions__item">
                                    Работа над репутацией в сети
                                </p>
                            <p class="directions__item">
                                    Фото- и видео-продакшн
                                </p>
                            <p class="directions__item">
                                    Выход проекта в топ по поисковым системам
                                </p>
                            <p class="directions__item">
                                    Модерация сайта / агрегаторов
                                </p>
                            <p class="directions__item">
                                    Отрисовка дизайн-макетов
                                </p>
                            <p class="directions__item">
                                    Разработка промо-кампаний
                                </p>
                            <p class="directions__item">
                                    Введение систем лояльности
                                </p>
                            <p class="directions__item">
                                    Отслеживание конверсии / подключение мертик
                                </p>
                        </div>
                    </div>
                </div>
                <div class="directions__accordeon accordeons__item">
                    <div class="directions__accordeon-head accordeons__item-head">
                        <h4 class="directions__accordeon-title title">Запуск с нуля</h4>
                        <div class="directions__accordeon-icon">
                            <span></span>
                        </div>
                    </div>
                    <div class="directions__accordeon-content accordeons__item-content">
                        <div class="directions__items">
                            <p class="directions__item">
                                    Проведение аналитики локации / подбор наиболее подходящего места исходя из направления бизнеса
                                </p>
                            <p class="directions__item">
                                    Рождение концепции / разработка нейминга / библии бренда / стратегии развития
                                </p>
                            <p class="directions__item">
                                    Полное сопровождение клиента от технического надзора до операционных решений
                                </p>
                            <p class="directions__item">
                                    Подбор команды для запуска / введение KPI / подготовка к старту
                                </p>
                            <p class="directions__item">
                                    Подключение надежных поставщиков / подрядчиков
                                </p>
                            <p class="directions__item">
                                    Согласование меню / бара / винного направления / обучение персонала / введение стандартов работы
                                </p>
                            <p class="directions__item">
                                    Полное развитие проекта (см. блок "Развитие и продвижение")
                                </p>
                        </div>
                    </div>
                </div>
                <div class="directions__accordeon accordeons__item">
                    <div class="directions__accordeon-head accordeons__item-head">
                        <h4 class="directions__accordeon-title title">рестарт / перезагрузка</h4>
                        <div class="directions__accordeon-icon">
                            <span></span>
                        </div>
                    </div>
                    <div class="directions__accordeon-content accordeons__item-content">
                        <div class="directions__items">
                            <p class="directions__item">
                                    Проведение аудита текущей концепции
                                </p>
                            <p class="directions__item">
                                    Изучение конкурентной среды в локации
                                </p>
                            <p class="directions__item">
                                    Выявление сильных точек роста в условиях текущих тенденций
                                </p>
                            <p class="directions__item">
                                    Переупаковка проекта / ребрендинг
                                </p>
                            <p class="directions__item">
                                    Рождение новой концепции согласно задачам собственника
                                </p>
                            <p class="directions__item">
                                    Полное развитие проекта / отслеживание результатов / коррекция направления
                                </p>
                            <p class="directions__item">
                                    Удержание аудитории / стратегический маркетинг
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>