<section class="faq @@if(this.class){@@class}">
    <div class="faq__container container">
        <h2 class="faq__title title">Частые вопросы</h2>
        <div class="faq__items accordeons">
            <div class="faq__accordeon accordeons__item">
                <div class="faq__accordeon-head accordeons__item-head">
                    <h4 class="faq__accordeon-title title">Суть вопроса или другое</h4>
                    <div class="faq__accordeon-icon">
                        <span></span>
                    </div>
                </div>
                <div class="faq__accordeon-content accordeons__item-content">
                    <div class="faq__accordeon-text">
                        <p>
                                Мы позиционируемся себя, как агентство, которое "в одном окне" решает задачи маркетинга малого и среднего бизнеса. Наша специализация - разработка имиджевых, продающих сайтов и интернет магазинов, их продвижение через современные источники - контекстная реклама, SEO, SMM, авито, репутация в сети.
                            </p>
                    </div>
                </div>
            </div>
            <div class="faq__accordeon accordeons__item">
                <div class="faq__accordeon-head accordeons__item-head">
                    <h4 class="faq__accordeon-title title">Суть вопроса или другое</h4>
                    <div class="faq__accordeon-icon">
                        <span></span>
                    </div>
                </div>
                <div class="faq__accordeon-content accordeons__item-content">
                    <div class="faq__accordeon-text">
                        <p>
                                Мы позиционируемся себя, как агентство, которое "в одном окне" решает задачи маркетинга малого и среднего бизнеса. Наша специализация - разработка имиджевых, продающих сайтов и интернет магазинов, их продвижение через современные источники - контекстная реклама, SEO, SMM, авито, репутация в сети.
                            </p>
                    </div>
                </div>
            </div>
            <div class="faq__accordeon accordeons__item">
                <div class="faq__accordeon-head accordeons__item-head">
                    <h4 class="faq__accordeon-title title">Суть вопроса или другое</h4>
                    <div class="faq__accordeon-icon">
                        <span></span>
                    </div>
                </div>
                <div class="faq__accordeon-content accordeons__item-content">
                    <div class="faq__accordeon-text">
                        <p>
                                Мы позиционируемся себя, как агентство, которое "в одном окне" решает задачи маркетинга малого и среднего бизнеса. Наша специализация - разработка имиджевых, продающих сайтов и интернет магазинов, их продвижение через современные источники - контекстная реклама, SEO, SMM, авито, репутация в сети.
                            </p>
                    </div>
                </div>
            </div>
            <div class="faq__accordeon accordeons__item">
                <div class="faq__accordeon-head accordeons__item-head">
                    <h4 class="faq__accordeon-title title">Суть вопроса или другое</h4>
                    <div class="faq__accordeon-icon">
                        <span></span>
                    </div>
                </div>
                <div class="faq__accordeon-content accordeons__item-content">
                    <div class="faq__accordeon-text">
                        <p>
                                Мы позиционируемся себя, как агентство, которое "в одном окне" решает задачи маркетинга малого и среднего бизнеса. Наша специализация - разработка имиджевых, продающих сайтов и интернет магазинов, их продвижение через современные источники - контекстная реклама, SEO, SMM, авито, репутация в сети.
                            </p>
                    </div>
                </div>
            </div>
            <div class="faq__accordeon accordeons__item">
                <div class="faq__accordeon-head accordeons__item-head">
                    <h4 class="faq__accordeon-title title">Суть вопроса или другое</h4>
                    <div class="faq__accordeon-icon">
                        <span></span>
                    </div>
                </div>
                <div class="faq__accordeon-content accordeons__item-content">
                    <div class="faq__accordeon-text">
                        <p>
                                Мы позиционируемся себя, как агентство, которое "в одном окне" решает задачи маркетинга малого и среднего бизнеса. Наша специализация - разработка имиджевых, продающих сайтов и интернет магазинов, их продвижение через современные источники - контекстная реклама, SEO, SMM, авито, репутация в сети.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>