<header class="header @@if(this.mod){header_@@mod}">
    <div class="header__container container">
        <button type="button" class="header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="#" class="header__btn-small btn btn_white btn_small">Стать клиентом</a>
        <a href="#" class="header__logo">
            <img loading="lazy" src="./img/logo-light.svg" alt="">
        </a>
    </div>
    <div class="header__menu">
        <div class="header__menu-content">
            <button type="button" class="header__menu-close">
                <img src="./img/icons/close.svg" alt="">
            </button>
            <a href="#" class="header__logo-menu">
                <img src="./img/logo-dark.svg" alt="">
            </a>
            <ul class="header__list">
                <li class="header__list-item">
                    <a href="services.html" class="header__link">Услуги</a>
                </li>
                <li class="header__list-item">
                    <a href="projects.html" class="header__link">Проекты</a>
                </li>
                <li class="header__list-item">
                    <a href="konsal.html" class="header__link">Консалтинг</a>
                </li>
                <li class="header__list-item">
                    <a href="brend.html" class="header__link">Создание бренда</a>
                </li>
                <li class="header__list-item">
                    <a href="website.html" class="header__link">Разработка сайтов</a>
                </li>
                <li class="header__list-item">
                    <a href="contacts.html" class="header__link">Контакты</a>
                </li>
            </ul>
            <div class="header__menu-bottom">
                <div class="header__contacts">
                    <a href="#" class="header__contact">+7 912 345 67-89</a>
                    <a href="#" class="header__contact">example@mail.ru</a>
                </div>
                <div class="header__socials">
                    <a href="#" class="header__social">
                        <img loading="lazy" src="./img/icons/telegram.svg" alt="">
                    </a>
                    <a href="#" class="header__social">
                        <img loading="lazy" src="./img/icons/whatsapp.svg" alt="">
                    </a>
                </div>
                <a href="#" class="btn btn_black">Стать клиентом</a>
            </div>
        </div>
    </div>
</header>