<section class="line-text @@if(this.class){@@class}">
    <div class="line-text__container">
        <div class="line-text__group">
            <p class="line-text__text">
                    тут любой текст
                </p>
            <p class="line-text__text">
                    тут тоже
                </p>
            <p class="line-text__text">
                    на ваш выбор
                </p>
        </div>
        <div class="line-text__group">
            <p class="line-text__text">
                    тут любой текст
                </p>
            <p class="line-text__text">
                    тут тоже
                </p>
            <p class="line-text__text">
                    на ваш выбор
                </p>
        </div>
        <div class="line-text__group">
            <p class="line-text__text">
                    тут любой текст
                </p>
            <p class="line-text__text">
                    тут тоже
                </p>
            <p class="line-text__text">
                    на ваш выбор
                </p>
        </div>
    </div>
</section>