<section class="reviews @@if(this.class){@@class}">
    <div class="reviews__container container">
        <h2 class="reviews__title title">Отзывы наших клиентов</h2>
        <div class="reviews__swiper swiper">
            <div class="swiper-wrapper">
                <div class="reviews__item swiper-slide">
                    <div class="reviews__item-content">
                        <div class="reviews__item-about">
                            <div class="reviews__item-image">
                                <img loading="lazy" src="./img/user.webp" alt="">
                            </div>
                            <div class="reviews__item-info">
                                <h4 class="reviews__item-name">Максим. Ф</h4>
                                <p class="reviews__item-desc">Директор компании hh.ru</p>
                            </div>
                        </div>
                        <div class="reviews__stars">
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <p class="reviews__item-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, natus repellendus quis adipisci exercitationem commodi vel earum repudiandae illo nam iusto reprehenderit mollitia totam, explicabo omnis. Eos vitae temporibus vel officiis itaque!
                            </p>
                    </div>
                    <div class="reviews__image">
                        <img loading="lazy" src="./img/hero/1.webp" alt="">
                    </div>
                </div>
                <div class="reviews__item swiper-slide">
                    <div class="reviews__item-content">
                        <div class="reviews__item-about">
                            <div class="reviews__item-image">
                                <img loading="lazy" src="./img/user.webp" alt="">
                            </div>
                            <div class="reviews__item-info">
                                <h4 class="reviews__item-name">Максим. Ф</h4>
                                <p class="reviews__item-desc">Директор компании hh.ru</p>
                            </div>
                        </div>
                        <div class="reviews__stars">
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <p class="reviews__item-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, natus repellendus quis adipisci exercitationem commodi vel earum repudiandae illo nam iusto reprehenderit mollitia totam, explicabo omnis. Eos vitae temporibus vel officiis itaque!
                            </p>
                    </div>
                    <div class="reviews__image">
                        <img loading="lazy" src="./img/hero/2.webp" alt="">
                    </div>
                </div>
                <div class="reviews__item swiper-slide">
                    <div class="reviews__item-content">
                        <div class="reviews__item-about">
                            <div class="reviews__item-image">
                                <img loading="lazy" src="./img/user.webp" alt="">
                            </div>
                            <div class="reviews__item-info">
                                <h4 class="reviews__item-name">Максим. Ф</h4>
                                <p class="reviews__item-desc">Директор компании hh.ru</p>
                            </div>
                        </div>
                        <div class="reviews__stars">
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <p class="reviews__item-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, natus repellendus quis adipisci exercitationem commodi vel earum repudiandae illo nam iusto reprehenderit mollitia totam, explicabo omnis. Eos vitae temporibus vel officiis itaque!
                            </p>
                    </div>
                    <div class="reviews__image">
                        <img loading="lazy" src="./img/hero/3.webp" alt="">
                    </div>
                </div>
                <div class="reviews__item swiper-slide">
                    <div class="reviews__item-content">
                        <div class="reviews__item-about">
                            <div class="reviews__item-image">
                                <img loading="lazy" src="./img/user.webp" alt="">
                            </div>
                            <div class="reviews__item-info">
                                <h4 class="reviews__item-name">Максим. Ф</h4>
                                <p class="reviews__item-desc">Директор компании hh.ru</p>
                            </div>
                        </div>
                        <div class="reviews__stars">
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg viewBox="0 -0.5 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" stroke="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <title>star</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Vivid.JS" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Vivid-Icons" transform="translate(-903.000000, -411.000000)" fill="#ff5c97">
                                            <g id="Icons" transform="translate(37.000000, 169.000000)">
                                                <g id="star" transform="translate(858.000000, 234.000000)">
                                                    <g transform="translate(7.000000, 8.000000)" id="Shape">
                                                        <polygon points="27.865 31.83 17.615 26.209 7.462 32.009 9.553 20.362 0.99 12.335 12.532 10.758 17.394 0 22.436 10.672 34 12.047 25.574 20.22"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <p class="reviews__item-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, natus repellendus quis adipisci exercitationem commodi vel earum repudiandae illo nam iusto reprehenderit mollitia totam, explicabo omnis. Eos vitae temporibus vel officiis itaque!
                            </p>
                    </div>
                    <div class="reviews__image">
                        <img loading="lazy" src="./img/hero/3.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-navigation custom-navigation">
                <button type="button" class="custom-navigation__btn custom-navigation__btn_prev"></button>
                <button type="button" class="custom-navigation__btn custom-navigation__btn_next"></button>
            </div>
        </div>
    </div>
</section>