@use 'lib' as *;

.directions {
	$self: &;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: fluid(48px, 32px);
	}

	&__blocks {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: fluid(48px, 24px);
		width: 100%;

		@include media("<=lg") {
			grid-template-columns: 0.4fr 0.6fr;
		}

		@include media("<=md") {
			grid-template-columns: 100%;
		}
	}

	&__images {
		border-radius: fluid(24px, 16px);
		overflow: hidden;
		aspect-ratio: 16 / 10;
		position: sticky;
		top: 120px;
		left: 0;

		@include media("<=lg") {
			aspect-ratio: 1 / 1;
		}

		@include media("<=md") {
			position: relative;
			top: 0;
		}
	}

	&__image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		opacity: 0;
		transition: opacity 0.5s ease-in-out;

		&.active {
			opacity: 1;
		}
	}

	&__accordeons {}

	&__accordeon {
		&:first-child {
			#{$self}__accordeon-head {
				padding: 0 0 fluid(32px, 16px) 0;
			}
		}

		&:not(:first-child) {
			#{$self}__accordeon-head {
				padding: fluid(32px, 16px) 0;
			}
		}

		transition: all $transition;

		&:not(:last-child) {
			border-bottom: 1px solid rgba($color: $textColor, $alpha: 0.7);
		}

		&.active {
			padding-bottom: fluid(32px, 16px);
			#{$self}__accordeon-icon {
				span::after {
					transform: translate(-50%, -50%) rotate(0deg);
				}
			}
		}
	}

	&__accordeon-head {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 24px;

		&:hover {
			#{$self}__accordeon-icon {
				box-shadow: inset 0 0 0 1px rgba($color: $textColor, $alpha: 1);

				span {
					background: rgba($color: $textColor, $alpha: 1);

					&::after {
						background: rgba($color: $textColor, $alpha: 1);
					}
				}
			}
		}
	}

	&__accordeon-title.title {
		font-size: fluid(32px, 20px);
	}

	&__accordeon-icon {
		@include flex-center;

		width: fluid(40px, 32px);
		height: fluid(40px, 32px);
		background: none;
		box-shadow: inset 0 0 0 1px rgba($color: $textColor, $alpha: 0.5);
		border-radius: 50%;
		flex: 0 0 auto;
		transition: all $transition;

		span {
			position: relative;
			width: fluid(20px, 16px);
			height: 1px;
			background: rgba($color: $textColor, $alpha: 0.5);

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(90deg);
				width: fluid(20px, 16px);
				height: 1px;
				background: rgba($color: $textColor, $alpha: 0.5);
				transition: all $transition;
			}
		}
	}

	&__accordeon-content {}

	&__items {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		flex-wrap: wrap;
		gap: fluid(12px, 8px);
	}

	&__item {
		border-radius: 64px;
		background: $bgSectionColor;
		padding: fluid(8px, 6px) fluid(16px, 12px);
		font-size: fluid(16px, 14px);
	}

}