@use 'lib' as *;

.contacts {
	$self: &;

	background: $bgSectionColor;

	&__container {
		display: grid;
		grid-template-columns: 0.3fr 0.7fr;
		gap: fluid(48px, 24px);
		position: relative;

		@include media("<=lg") {
			grid-template-columns: 100%;
		}
	}

	&__side {
		display: flex;
		flex-direction: column;
		gap: fluid(48px, 16px);
	}

	&__logo {
		img {
			height: fluid(64px, 48px);
		}
	}

	&__items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 24px;
		height: fit-content;
		position: sticky;
		top: 120px;
		left: 0;

		@include media("<=xs") {
			flex-direction: column;
		}
	}

	&__item {
		border-radius: fluid(16px, 8px);
		padding: 16px fluid(24px, 16px);
		background: $bgColor;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: fluid(20px, 16px);
		gap: fluid(20px, 16px);
		flex: 1 1 auto;
		max-width: 1 / 2 * 100%;

		@include media("<=xs") {
			max-width: 100%;
		}
	}

	&__item-icon {
		width: fluid(48px, 32px);
		height: fluid(48px, 32px);
		object-fit: contain;
	}

}
