@use 'lib' as *;

.section-top {
	$self: &;

	overflow: hidden;
	margin-top: -24px;
	border-radius: fluid(24px, 16px) fluid(24px, 16px) 0 0;
	position: relative;
	z-index: 2;
	background: $bgSectionColor;
}
